/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Josefin Sans", sans-serif;
    color: #00072D;
}

body{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: url(images/sitebg.png) no-repeat center fixed;
    background-size: cover;
}
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    font-weight: 500;
    padding: 10px;
}
.content h4{
    font-size: 30px;
}
.content p{
    font-size: 25px;
}
.content a {
    color: #00072D;
    text-decoration: none;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #666;
    color: white;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}
/*End global*/

h1{
    position: relative;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    font-family: "Caveat Brush", sans-serif;
    font-weight: 800;
    font-size: 150px;
    text-align: center;
    letter-spacing: 8px;
}
h1 a{
    position: relative;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    font-family: "Caveat Brush", sans-serif;
    font-weight: 800;
    font-size: 150px;
    text-align: center;
    letter-spacing: 8px;
    text-decoration: none;
    color: #00072D;
}
h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding: 0px 50px;
    margin-bottom: 20px;
    color:#ffa185;
    display: flex;
}

.top-nav{
    width: 100%;
    height: 25vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background: rgba(198, 104, 122, 0.5);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 0.65s cubic-bezier(1,0,0,1);
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 2rem;
}
.nav-link{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: #00072D;
    font-size: 50px;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to bottom, #3C3659, #785C84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top:0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 0.65s ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #F17A64, #FDEFC1);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 0.65s cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 0.65s cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    color: #00072D;
    font-size: 5rem;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Josefin Sans', sans-serif; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background: linear-gradient(to bottom, #F17A64, #FDEFC1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F17A64;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    float: none;
    color: #F17A64;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #FDEFC1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



